.dart_tool/
.packages
pubspec.lock

.bundle
_site

build/
**/ios/.generated/
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Coverage
coverage/
